.brand {
  font-size: 37px;
  font-family: "Roboto Slab", serif;
}

.navbar-nav {
  font-family: "Roboto Slab", serif;
}

.lets {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
}

.better {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
}

.dynamic {
  font-size: 90px;
  height: 100px;
  font-family: "Roboto Slab", serif;
  z-index: 3;
}

.tech-header,
.about-header,
.project-header {
  font-family: "Roboto Slab", serif;
  color: #284b63;
  font-size: 40px;
}

.description-body {
  font-family: "Roboto Slab", serif;
}

.jumbotron {
  height: 70vh;
  background-image: url("/images/beach_2.jpg");
  background-size: 100%;
}

.skill-cards {
  margin-left: 25px;
}

.firebaseimg {
  width: 100px;
}

.vueimg {
  width: 220px;
  margin-left: -40px;
  margin-bottom: -60px;
  margin-top: -30px;
}

.pic-profile {
  border-radius: 35%;
  width: 310px;
  height: 350px;
  box-shadow: 0 0 20px #9e9e9e;
}

.profile-card {
  margin-left: 70px;
  margin-bottom: 20px;
}

.img-container {
  border: none;
}

.projects,
.aboutme,
.skills {
  margin-top: 80px;
}

.project-description {
  border: 1px solid black;
  margin: 5px;
}

.description-card {
  border: none;
}

.description-body {
  margin-bottom: 10px;
}

.description-header {
  border: none;
  border-bottom: none;
}

.description-title {
  font-size: 28px;
}

.framework {
  margin-left: 6px;
  background: none;
  margin-bottom: 50px;
}

.project-card {
  border: none;
}

.framework-logo {
  border: none;
  background: none;
}

.contact {
  background: #284b63;
  font-size: 25px;
}

.contact a {
  color: white;
  margin-top: 15px;
}

.contact a:hover {
  color: gray;
}

.fab,
.fas {
  margin-top: 10px;
}
